details > summary {
    display: list-item;
    /* list-style: none; */
    cursor: pointer;
    
    margin-top: 2rem !important;
    margin-bottom: 1rem;
    font-size: 18pt;
    font-weight: normal;
    color: #159957;
}

details > summary::marker, /* Latest Chrome, Edge, Firefox */ 
details > summary::-webkit-details-marker /* Safari */ {
    /* - */
}

.deprecated-title {
    font-style: italic;
}

.table-section-header {
    background: lightgray;
    text-align: center;
    font-weight: bold;
    color: darkslategray;
}
