{#
This Source Code Form is subject to the terms of the Mozilla Public
License, v. 2.0. If a copy of the MPL was not distributed with this
file, You can obtain one at http://mozilla.org/MPL/2.0/.
#}

<footer>
    <p>
        <a href="{{ bag('site.copyright.repository') }}">{{ bag('site.copyright.title') }}</a>
        <span>&copy;</span>
        <span>&#32;{{ bag('site.copyright.year') }}&#32;</span>
        <a href="{{ bag('site.copyright.homepage') }}">{{ bag('site.copyright.name') }}</a>
    </p>
    <p>
        <span>Published via</span>
        <a href="https://codeberg.page">Codeberg Pages</a>
    </p>
</footer>
