{#
This Source Code Form is subject to the terms of the Mozilla Public
License, v. 2.0. If a copy of the MPL was not distributed with this
file, You can obtain one at http://mozilla.org/MPL/2.0/.
#}

<h2>categories</h2>

<nav data-style="default">
	<a href="/personal">personal</a>
	<a href="/blogroll">blogroll</a>
</nav>

<h2>collections</h2>

<nav data-style="default">
    <a href="/creative">creative</a>
    <a href="/culinary">culinary</a>
    <a href="/culture">culture</a>
    <a href="/tech">tech</a>
	<a href="/world">world</a>
</nav>
