{#
This Source Code Form is subject to the terms of the Mozilla Public
License, v. 2.0. If a copy of the MPL was not distributed with this
file, You can obtain one at http://mozilla.org/MPL/2.0/.
#}

{% extends 'base.html' %}

{% block template_styles %}{% endblock %}

{% block title %}404: Not Found{% endblock %}

{% block description %}{% endblock %}

{% block content %}
    <p>404: Az oldal nem található</p>
    <p>
        <a href="{{ site.url }} | url" target="_self">Vissza a főoldalra</a>
    </p>
{% endblock %}
