<!DOCTYPE html>
<!--
This Source Code Form is subject to the terms of the Mozilla Public
License, v. 2.0. If a copy of the MPL was not distributed with this
file, You can obtain one at http://mozilla.org/MPL/2.0/.
-->
<html lang="en-US">
<head>
    {% include "includes/head.html" %}
    {% block template_styles %}{% endblock %}
</head>
<body onLoad="eh_load_body();">
    <a id="skip-to-content" href="#content">Skip to the content.</a>
    <header class="page-header" role="banner">
        <h1 class="project-name">{{ this.title }}</h1>
        <h2 class="project-tagline">{% if this.description %}{{ this.description }}{% else %}{{ bag('site.general.description') }}{% endif %}&#32;|&#32;{{ bag('site.general.title') }}</h2>
    </header>
    <main id="content" class="main-content" role="main">

        {# BREADCRUMBS #}
        <div class="container {% if this.full_width %}full-width{% endif %}">
            {% include "includes/breadcrumbs.html" %}
        </div>

        {# NOSCRIPT #}
        <noscript>
            <h3>JavaScript is not enabled in your browser!</h3>
        </noscript>

        {# CONTENT #}
        <div class="container {% if this.full_width %}full-width{% endif %} content">
            {% block content_base %}{% endblock %}
        </div>

        {# CHILDREN #}
        {% if this.children %}
        <hr>
        <details class="{% if this.full_width %}full-width{% endif %}">
            {% set children_count = this.children | list | count %}
            <summary>{{ this.children.length }}subpage{% if children_count > 1 %}s{% endif %}</summary>
            <ul>
            {% for child in this.children | sort(attribute='title') %}
                <li>
                    <a href="{{ child | url }}">{{ child.title }}</a>
                </li>
            {% endfor %}
            </ul>
        </details>
        {% endif %}

        {# FOOTER #}
        <footer class="site-footer">
            <span class="site-footer-owner">
                <a href="{{ bag('site.copyright.repository') }}">{{ bag('site.copyright.title') }}</a>
                <span>&copy;</span>
                <span>&#32;{{ bag('site.copyright.year') }}&#32;</span>
                <a href="{{ bag('site.copyright.homepage') }}">{{ bag('site.copyright.name') }}</a>
            </span>
            <span>-</span>
            <span class="site-footer-credits">
                <span>Published via</span>
                <a href="https://codeberg.page">Codeberg Pages</a>
            </span>
        </footer>
    </main>
</body>
</html>
