{% extends 'base-page.html' %}

{% block title %}{{ this.title }}{% endblock %}

{% block content %}
    <table style="display: table; width: 100%; margin-bottom: 20pt;">
        <tbody>
            {% if this.homepage | string | length > 0 %}
            <tr>
                <td style="font-weight: bold;">Homepage</td>
                <td><a href="{{ this.homepage }}">{{ this.homepage | replace("https://", "") }}</a></td>
            </tr>
            {% endif %}
            {% if this.docs | string | length > 0 %}
            <tr>
                <td style="font-weight: bold;">Documentation</td>
                <td><a href="{{ this.docs }}">{{ this.docs | replace("https://", "") }}</a></td>
            </tr>
            {% endif %}
            {% if this.repository | string | length > 0 %}
            <tr>
                <td style="font-weight: bold;">Repository</td>
                <td><a href="{{ this.repository }}">{{ this.repository | replace("https://", "") }}</a></td>
            </tr>
            {% endif %}
            {% if this.wikipedia_en | string | length > 0 %}
            <tr>
                <td style="font-weight: bold;">Wikipedia</td>
                <td>
                    {% if this.wikipedia_de | string | length > 0 %}
                    [ <a href="{{ this.wikipedia_de }}">Deutsch</a> ]
                    {% endif %}
                    {% if this.wikipedia_en | string | length > 0 %}
                    [ <a href="{{ this.wikipedia_en }}">English</a> ]
                    {% endif %}
                    {% if this.wikipedia_hu | string | length > 0 %}
                    [ <a href="{{ this.wikipedia_hu }}">Magyar</a> ]
                    {% endif %}
                </td>
            </tr>
            {% endif %}
            {% if this.wikibooks_en | string | length > 0 %}
            <tr>
                <td style="font-weight: bold;">Wikibooks</td>
                <td>
                    {% if this.wikibooks_de | string | length > 0 %}
                    [ <a href="{{ this.wikibooks_de }}">Deutsch</a> ]
                    {% endif %}
                    {% if this.wikibooks_en | string | length > 0 %}
                    [ <a href="{{ this.wikibooks_en }}">English</a> ]
                    {% endif %}
                    {% if this.wikibooks_hu | string | length > 0 %}
                    [ <a href="{{ this.wikibooks_hu }}">Magyar</a> ]
                    {% endif %}
                </td>
            </tr>
            {% endif %}
        </tbody>
    </table>
    {{ this.body }}
{% endblock %}
