{#
This Source Code Form is subject to the terms of the Mozilla Public
License, v. 2.0. If a copy of the MPL was not distributed with this
file, You can obtain one at http://mozilla.org/MPL/2.0/.
#}
{# <!--suppress ALL --> #}

{% extends 'base.html' %}

{% block template_styles %}
<link rel="stylesheet" href="{{ '/static/css/competition.css' | asseturl }}">
{% endblock %}

{% block title %}{{ this.title }}{% endblock %}

{% block description %}{{ this.description }}{% endblock %}

{% block content %}

<h2>Csapatok és csoportok</h2>
<section class="hscroll">
{% for group in this.groups.values() %}
    <table class="groups">
        <tr>
            <th colspan="2" class="shadowed group_{{ group.name }}">{{ group.name }} csoport</th>
            <th>MP</th>
            <th>W</th>
            <th>D</th>
            <th>L</th>
            <th colspan="3">GF : GA</th>
            <th>GD</th>
            <th>Pts</th>
        </tr>
        {% for team_abbrev in group.teams %}
        {% set team = this.teams[team_abbrev] %}
        <tr>
            <td class="centered monospace">{{ team.abbrev }}</td>
            <td class="centered">{{ team.name }}</td>
            <td class="centered">{{ team.group_matches_played }}</td>
            <td class="centered">{{ team.group_matches_won }}</td>
            <td class="centered">{{ team.group_matches_drawn }}</td>
            <td class="centered">{{ team.group_matches_lost }}</td>
            <td class="right open_right">{{ team.group_goals_for }}</td>
            <td class="centered open_left open_right">:</td>
            <td class="left open_left">{{ team.group_goals_against }}</td>
            <td class="centered">{{ team.group_goal_difference }}</td>
            <td class="centered">{{ team.group_points }}</td>
        </tr>
        {% endfor %}
    </table>
{% endfor %}
</section>

<h2>Mérkőzések</h2>
{% set ns_matches = namespace() %}
{% set ns_matches.date_previous = None %}
{% set ns_matches.date_current = None %}
{% set ns_matches.period_index_big = 0 %}
{% set ns_matches.period_index_small = 0 %}
<section class="hscroll">
<table class="matches">
    <tr>
        <th colspan="2">&nbsp;</th>
        <th>#</th>
        <th class="pad_left pad_right">Dátum & Idő</th>
        <th colspan="3">Otthon</th>
        <th> - </th>
        <th colspan="3">Vendég</th>
        <th colspan="2">Helyszín</th>
        <th>Közvetítő</th>
    </tr>
    {% for match in this.matches %}
        {% set ns_matches.date_previous = ns_matches.date_current %}
        {% set ns_matches.date_current = match.date %}

        {% if match.number_sorted == this.periods.big[ns_matches.period_index_big].last_match + 1 %}
            {% set ns_matches.period_index_big = ns_matches.period_index_big + 1 %}
            {% if this.periods.big[ns_matches.period_index_big].first_match == None %}
                {% set ns_matches.period_index_big = ns_matches.period_index_big + 1 %}
            {% endif %}
        {% endif %}
        {% if match.number_sorted == this.periods.small[ns_matches.period_index_small].last_match + 1 %}
            {% set ns_matches.period_index_small = ns_matches.period_index_small + 1 %}
            {% if this.periods.small[ns_matches.period_index_small].first_match == None %}
                {% set ns_matches.period_index_small = ns_matches.period_index_small + 1 %}
            {% endif %}
        {% endif %}

        {% if match.home.find(':') > -1 %}
            {% set home_abbrev = '' %}
            {% set home_name = match.home %}
        {% else %}
            {% set home_abbrev = match.home %}
            {% set home_name = this.teams[match.home].name %}
        {% endif %}
        {% if match.away.find(':') > -1 %}
            {% set away_abbrev = '' %}
            {% set away_name = match.away %}
        {% else %}
            {% set away_abbrev = match.away %}
            {% set away_name = this.teams[match.away].name %}
        {% endif %}

    {% if ns_matches.date_current != ns_matches.date_previous %}
    <tr>
        {% if match.number_sorted == this.periods.big[ns_matches.period_index_big].first_match %}
            {% set period_rowspan = this.periods.big[ns_matches.period_index_big].rowspan %}
            {% set period_name = this.periods.big[ns_matches.period_index_big].name %}
            <th rowspan="{{ period_rowspan }}" class="rotated centered">
                <span>{{ period_name }}</span>
            </th>
        {% endif %}
        {% if match.number_sorted == this.periods.small[ns_matches.period_index_small].first_match %}
            {% set period_rowspan = this.periods.small[ns_matches.period_index_small].rowspan %}
            {% set period_name = this.periods.small[ns_matches.period_index_small].name %}
            <th rowspan="{{ period_rowspan }}" class="rotated centered">
                <span>{{ period_name }}</span>
            </th>
        {% endif %}
        <th class="centered open_right">&nbsp;</th>
        <th class="centered open_left open_right">{{ ns_matches.date_current }}</th>
        <th colspan="10" class="centered open_left">&nbsp;</th>
    </tr>
    {% endif %}
    <tr>
        <td class="centered">{{ match.number }}</td>
        <td class="centered pad_right open_left">{{ match.time }}</td>
        <td class="right team_name pad_left open_right">{{ home_name }}</td>
        <td class="centered monospace score open_left open_right">{% if home_abbrev != '' %}[{{ home_abbrev }}]{% endif %}</td>
        <td class="centered score open_left open_right">{% if match.home_score != None %}{{ match.home_score }}{% endif %}</td>
        <td class="centered open_left open_right"> - </td>
        <td class="centered score open_left open_right">{% if match.away_score != None %}{{ match.away_score }}{% endif %}</td>
        <td class="centered monospace score open_left open_right">{% if away_abbrev != '' %}[{{ away_abbrev }}]{% endif %}</td>
        <td class="left team_name pad_right open_left">{{ away_name }}</td>
        <td class="right pad_left open_right">{{ match.location.city }}</td>
        <td class="left pad_right open_left">|&nbsp;&nbsp;&nbsp;{{ match.location.stadium }}</td>
        <td class="centered">{{ match.broadcaster.name }}</td>
    </tr>
    {% endfor %}
</table>
</section>

<h2>Menetrend</h2>
<section class="hscroll">
<table class="timetable">
    <tr>
        <th rowspan="3" class="open_top open_left">&nbsp;</th>
    {% for period in this.periods.big %}
        {% if period.first_match == None %}
        <th class="open_top"></th>
        {% else %}
        <th colspan="{{ period.days }}">{{ period.name_short }}</th>
        {% endif %}
    {% endfor %}
    </tr>
    <tr>
    {% for period in this.periods.small %}
        {% if period.first_match == None %}
        <th rowspan="2">
        {% for period_day in period.day_list %}
            <span>{{ period_day.display_date }}</span>
            {% if period_day.display_date != period.day_list[-1].display_date %}
                <br/>
            {% endif %}
        {% endfor %}
        </th>
        {% else %}
        <th colspan="{{ period.days }}">{{ period.name_short }}</th>
        {% endif %}
    {% endfor %}
    </tr>
    <tr>
    {% for period in this.periods.small %}
        {% if period.first_match != None %}
        {% for period_day in period.day_list %}
        <th>
            <span>{{ period_day.display_date }}</span>
            <br/>
            <span>{{ period_day.display_day }}</span>
        </th>
        {% endfor %}
        {% endif %}
    {% endfor %}
    </tr>
    {% for location in this.locations.values() %}
    <tr>
        <td>
            <span class="city">{{ location.city }}</span>
            <br/>
            <span class="stadium">{{ location.stadium }}</span>
            <br/>
            <span class="capacity">Férőhely: {{ location.capacity }}</span>
        </td>
        {% for period in this.periods.small %}
        {% if period.first_match == None %}
            {% if location.index == 0 %}
            <td rowspan="{{ this.locations.__len__() }}" class="rotated centered">
                <span>{{ period.name }}</span>
            </td>
            {% endif %}
        {% else %}
            {% for period_day in period.day_list %}
            {% set ns_timetable = namespace() %}
            {% set ns_timetable.match_found = False %}
            {% for match in this.matches %}
                {% if match.location.city == location.city %}
                    {% if match.date == period_day.date %}
                        {% set ns_timetable.match_found = True %}
                        {% set ns_timetable.match_number = match.number %}
                        {% set ns_timetable.match_home = match.home %}
                        {% set ns_timetable.match_away = match.away %}
                        {% if match.home_score == None and match.away_score == None %}
                            {% set ns_timetable.match_time = match.time %}
                        {% else %}
                            {% set home_score_str = match.home_score | string %}
                            {% set away_score_str = match.away_score | string %}
                            {% set ns_timetable.match_time = home_score_str + ' - ' + away_score_str %}
                        {% endif %}
                        {% set ns_timetable.match_broadcaster = match.broadcaster.name_short %}
                        {% if match.number > this.periods.big[0].last_match %}
                            {% set ns_timetable.css_class = 'period_' + period.css_class %}
                        {% else %}
                            {% set ns_timetable.css_class = 'group_' + this.groups[this.teams[match.home].group].name %}
                        {% endif %}
                    {% endif %}
                {% endif %}
            {% endfor %}
            {% if ns_timetable.match_found %}
            <td class="inner centered shadowed match {{ ns_timetable.css_class }}">
                <span class="number">{{ ns_timetable.match_number }}</span>
                <br/>
                <span class="monospace home">{{ ns_timetable.match_home }}</span>
                <br/>
                <span class="monospace away">{{ ns_timetable.match_away }}</span>
                <br/>
                <span class="time {{ ns_timetable.css_class }}">{{ ns_timetable.match_time }}</span>
                <br/>
                <span>{{ ns_timetable.match_broadcaster }}</span>
            </td>
            {% else %}
            <td class="inner">&nbsp;</td>
            {% endif %}
            {% endfor %}
        {% endif %}
        {% endfor %}
    </tr>
    {% endfor %}
</table>
</section>

{% if this.body %}
<h2>Notes</h2>
{{ this.body }}
{% endif %}

{% endblock %}
